.cartForm {
    width: 100%;
    padding: 20px;
  }
  
  .cartForm-container {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
  }
  
  .cartForm-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cartForm-signup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .cartForm-signup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .cartForm-signup input[type='date'],
  .cartForm-signup input[type='time'] {
    appearance: none; /* Hide the default arrow on date and time inputs */
  }
  
  .cartForm-signup input[type='date']::-webkit-calendar-picker-indicator,
  .cartForm-signup input[type='time']::-webkit-calendar-picker-indicator {
    display: none; /* Hide the default calendar picker */
  }

  @media(max-width:1280px) {
    .cartForm {
        margin: 60px 50px;
    }
    .cartForm-format-main {
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }
    .carticon-product-icon {
        height: 50px;
    }
    .cartForm-remove-icon {
        margin: auto;
    }
    .cartForm-quantity {
        width: 40px;
        height: 30px;
    }
    .cartForm-down {
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }
    .cartForm-total {
        margin: 0;
    }
    .cartForm-button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }
  }

  @media(max-width:500px) {
    .cartForm-format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .cartForm-format {
        display: grid;
    }
  }